.container {
    border: 1px solid red;
    width: 60%;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col1,
.col2 {
    text-align: center;
    flex: 1;
}

input,
button {
    font-size: 1.5rem;
    margin-top: 10px;
}

body {
    padding: 20px;
}

.topic {
    color: red;
}

h1 {
    color: rgb(7, 18, 168);
}

.center {
    display: flex;
    justify-content: center;
}

#solution-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

label {
    font-size: 2em;
    font-weight: bold;
    font-family: monospace;
}

#calculation {
    flex-grow: 1;
    font-size: 1.3em;
    line-height: 30px;
}

#calculation b {
    display: block;
    text-align: center;
}

button {
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    font-size: 1.5em;
    flex-grow: 1;
}

.sol {
    font-weight: bold;
    border-bottom: black double 5px;
}

#buttons {
    display: flex;
    gap: 20px;
}